@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-title {
    width: 320px;
    max-width: 320px;
    font-size: 36px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heortab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/herotab-2x.jpg);
    }
  }

  .presentation-list {
    row-gap: 72px;
  }

  .presentation-item {
    width: 396px;
  }

  .customers .container {
    width: 428px;
    /* height: 280px; */
  }

  .portfolio img {
    width: 396px;
  }

  .image-title {
    font-size: 20px;
  }

  .image-category {
    font-size: 16px;
  }

  .modal {
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
  }

  .form-title {
    font-size: 16px;
  }

  .modal-button {
    right: 24px;
    top: 24px;
  }
  .form-element input {
    height: 36px;
  }

  .mob-menu .container{
    width: 100%;
  }

  .mob-soc-list{
    margin-top: 48px;
    gap: 56px;
  }

  .mob-address-link {
 
  font-size: 36px;
  }

  

  
}
